<!DOCTYPE HTML>
<html>

<head>
  <title>The MESS</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
        <div id="header">
            <div id="logo">
              <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html"><strong>The MESS</strong></a></h1>
                <h2><strong>[M]</strong>ike Jeromin <strong>[E]</strong>braheem Aldubis <strong>[S]</strong>kyler Knecht <strong>[S]</strong>am Jones</h2>
              </div>
            </div>
            <div id="menubar">
              <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a href="index">Home</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="about">About</a></li>
                <li><a href="loginpage"> The Mess Login Page</a></li>
               <!-- <li><a href="examples.html">Example Style Page</a></li>-->
              </ul>
            </div>
          </div>
          <div id="content_header">
        </div>

    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
            <div class="sidebar_item">
              <!-- insert your sidebar items here -->
              <h1>Latest News</h1>

              <h5>April 1st, 2019</h5>
              <p>Check out our Trello and see where in the project's development the team is!</p>
                <a href="https://trello.com/b/84iAAbfb/themess"target = "_blank">The Mess's Trello</a>
            </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h1>Deliverables</h1>
            <ul>
              <!--insert documents/files here-->
              <li><a href="files/TheMess-Final-Design-Document.pdf" target = "_blank">Design Document #1</a></li>
              <li><a href="files/TheMess-Final-Preliminary-Project-Schedule.pdf" target = "_blank">Preliminary Project Schedule</a></li>
              <li><a href="files/TheMess-Final-SRS.pdf" target = "_blank">Software Requirements Specification</a></li>
              <li><a href="files/TheMess-Press-Release-1.pdf" target = "_blank">Press Release #1</a></li>
              <li><a href="files/TheMess-Final-Design-Document-2.pdf" target = "_blank">Design Document #2</a></li>
              <li><a href="">Press Release #2</a></li>
              <li><a href="">User Manual</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <!--<div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h1>Search</h1>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>-->
	  </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1><b>It's Getting Messy The Blog</b></h1>
        <p></p>
        <h2><b> Week of January 13th </b></h2>
        <h3><p> Mess is born! This is the first week of school and The Mess is forming.</p></h3>

        <h2><b> Week of January 20th </b></h2>
        <h3><p>The Mess has came to a topic of interest: software for password protection.  </p></h3>

        <h2><b> Week of January 27th </b></h2>
        <h3><p>The team has started assigning roles to the members of the group. </p></h3>

        <h2><b> Week of February 3rd </b></h2>
        <h3><p>The Mess website is up and running. Expect to see weekly updates. </p></h3>

        <h2><b> Week of February 10th </b></h2>
        <h3><p>The Mess are currently hard at work on getting the project started. This weeks meeting proved to be very fruitful!
          This blog will be continously updated with news about our project (Mess Matrix). Stay tuned for more information! </p></h3>

        <h2><b> Week of February 17th </b></h2>
        <h3><p> In this weeks meeting the mess were able to get the presentation down and are excited to present to the class!
          On a techinical side, the mess is currently working on the front end of the project. Expect big things!</p></h3>

        <h2><b> Week of February 24th </b></h2>
        <h3><p>The presentation was a major hit! We were able to answer many question and concerns. Thanks to everyone for coming out and supporting us! </p></h3>

        <h2><b> Week of March 3rd </b></h2>
        <h3><p>Spring Break is currently upon The Mess, but that won't stop the boys from getting ahead and working on the project.
          The rough draft for the Design Document has been completed!  </p></h3>

        <h2><b> Week of March 10th </b></h2>
        <h3><p>Spring Break was a blast for The Mess! Even though we were on break,
          it did not stop The Mess from getting things done. The Mess was able to get major front-end features completed.  </p></h3>

        <h2><b> Week of March 17th </b></h2>
        <h3><p>Spring Break is over :(. But that only means more time to focus on The Mess Matrix!</p></h3>

        <h2><b> Week of March 24th </b></h2>
        <h3><p>Design Document rough draft is complete! The Mess put alot of effort into this document. Currently the Mess is hard at work
          making our first prototype that we will show off and present in a few short weeks! Take a look at
          our Trello site to see what we are currently developing for the MessMatrix!</p></h3>

        <h2><b> Week of March 31st </b></h2>
        <h3><p>The Mess is currently working on the prototype presentation!</p></h3>

        <h2><b>Week of April 7th</b></h2>
        <h3><p>The team will be giving a presentation this week of our prototype/ status of our project to our organization's management!</p></h3>

        <h2><b>Week of April 14th</b></h2>
        <h3><p>Keep your eyes peeled, the Mess is about to release their second press release to the public! Currently, the team is hard at work
          making a User Manual that can be understood by the public on how to use our product.
        </p></h3>

        <h2><b>Week of April 21st</b></h2>
        <h3><p>The manual draft is complete!</p></h3>

      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        <p><a href="index.html">Home</a> | <a href="contact.html">Contact Us</a> | <a href="about.html">About</a> |<a href="loginpage.html">The Mess Log In</a></p>
        <p> &copy The Mess 2019 </p>
    </div>
  </div>
</body>
</html>
